# Reposilite user id
PUID=977
# Reposilite group id
PGID=977
# Port to use
PORT=8080
# Memory limit for Reposilite
MEMORY=1G
# JVM args
JAVA_COMPOSE_OPTS=
# Reposilite args
REPOSILITE_COMPOSE_OPTS=--token admin:<change-me> --shared-configuration=/shared.configuration.json
