[Unit]
Description=Maven Cache using Docker compose
Requires=containerd.service
After=containerd.service

[Service]
WorkingDirectory=/etc/docker/maven-cdn
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always

[Install]
WantedBy=multi-user.target
